.PopperWrap {
    display: flex;
    flex-direction: column;
    min-width: 223px;
    width: 100%;
    // min-height: 400px;
    padding: 10px 0 10px 0;
    max-height: 500px;
    border-radius: 8px;
    overflow: hidden auto;
    box-sizing: border-box;
    background: var(--white-color);
    color: var(--color-bold);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
}