.search {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--grey-light);
    &:hover{
        border: 1px solid var(--lighter-grey);
    }
    &:hover > .search-btn {
        background-color: var(--hover-input-btn);
        color: var(--black-color);
    }
}
.search,
.search-result {
    width: 350px;
}
.search-input {
    font-family: var(--font-family);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    color: var(--grey-dark);
    background-color: var(--grey-light);
    width: 350px;
    max-width: 350px;    
    border: 1px solid transparent;
    font-size: 14px;
    padding: 4px 40px 4px 12px;
    caret-color: var(--main-color);
    &:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22,24,35,0.75);
    }
}
.loading,
.clear svg{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: var(--grey-light);
    color: var(--lighter-grey); 
}
.search-title {
    padding-left: 12px;
    color: rgba(22, 24, 35, 0.5);
}
.search-btn {
    position: relative;
    padding: 7px 10px 7px 15px;
    font-size: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #bebebf;
    background-color: var(--grey-light);
    &::before {
        content: '';
        position: absolute;
        left: -1px;
        width: 1px;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--grey-light);
    }
    &:active {
        background-color: var(--grey-dark);
    }
}
.loading {
    animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}